.custom-card {
  border-radius: 16px;
  padding: 20px;
  border: none;
  transition: 0.3s;
  background: #f8f9fa;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.custom-card:hover {
  transform: translateY(-8px);
}
